<div id="<%= dom_id profile %>">
  <p>

    <%= profile.name %>
  </p>

  <p>
 
    <%=  link_to profile.youtube,profile.youtube %>
  </p>

  <p>

    <%=   link_to profile.email,profile.email %>
  </p>

  <p>

    <%=   link_to profile.instagram, profile.instagram %>
  </p>

  <p>
    <%=   link_to profile.Twitter ,profile.Twitter %>
  </p>

  <p>

    <%=   link_to profile.facebook, profile.facebook %>
  </p>

</div>
